<div class="card">
<h5 *ngIf="!editMode" class="card-header">Mitarbeiter hinzufügen</h5>
<h5 *ngIf="editMode" class="card-header">Mitarbeiter editieren</h5>
<div class="card-body">
  <table class="table">

    <label>ID</label>
    <input type="text" class="form-control" [(ngModel)]="mitarbeiter.id"/>

    <label>Vorname</label>
    <input type="text" class="form-control" [(ngModel)]="mitarbeiter.vorname"/>

    <label>Nachname</label>
    <input type="text" class="form-control" [(ngModel)]="mitarbeiter.nachname"/>

    <label>Geburtsdatum</label>
    <input type="date" class="form-control" [(ngModel)]="mitarbeiter.geburtsdatum"/>

    <label>Geschlecht</label>
    <select class="form-control" [(ngModel)]="mitarbeiter.geschlecht">
      <option value="männlich">männlich</option>
      <option value="weiblich">weiblich</option>
      <option value="divers">divers</option>
    </select>

    <label>Email-Adresse</label>
    <input type="email" class="form-control" [(ngModel)]="mitarbeiter.email"/>

    <label>Telefonnummer</label>
    <input type="tel" class="form-control" [(ngModel)]="mitarbeiter.telefonnummer"/>

    <label>Gehaltsstufe</label>
    <input type="text" class="form-control" [(ngModel)]="mitarbeiter.gehaltsstufe"/>

    <label>Gehalt</label>
    <input type="text" class="form-control" [(ngModel)]="mitarbeiter.gehalt"/>

    <label>Abteilung</label>
    <select class="form-control" [(ngModel)]="mitarbeiter.abteilung">
      <option *ngFor="let a of abteilungen" [ngValue]="a">{{a.bezeichnung}}</option>
    </select>

    <div *ngIf="error" class="alert alert-danger" role="alert">
     A simple danger alert—check it out!
    </div>

    <button type="button" class="btn-block btn-primary my-4" (click)="save()">save</button>
  </table>
</div>
</div>
