<div class="card">
<h5 class="card-header">Mitarbeiterübersicht</h5>
<div class="card-body">
  <table class="table">
    <thead>
      <th>ID</th>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Geschlecht</th>
      <th>Gehaltsstufe</th>
      <th>Gehalt</th>
      <th>Abteilung</th>
      <th>E-Mail-Adresse</th>
      <th>Telefonnummer</th>
      <th>Geburtsdatum</th>
    </thead>

    <tbody>
    <tr *ngFor="let m of mitarbeiter">
      <td>{{m.id}}</td>
      <td>{{m.vorname}}</td>
      <td>{{m.nachname}}</td>
      <td>{{m.geschlecht}}</td>
      <td>{{m.gehaltsstufe}}</td>
      <td>{{m.gehalt | currency: "EUR"}}</td>
      <td>{{m.abteilung.bezeichnung}}</td>
      <td>{{m.email}}</td>
      <td>{{m.telefonnummer}}</td>
      <td>{{m.geburtsdatum | date: "dd.MM.yyyy"}}</td>
      <td><span class="material-icons" routerLink="/mitarbeiterform/{{m.id}}">edit</span></td>
      <td>
        <span class="material-icons" (click)="delete(m)">delete</span>
      </td>
    </tr>
  </tbody>
</table>

  </div>
</div>
